<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VSLauncher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VSLauncher.Properties.Settings>
            <setting name="LastImportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LastExecuteFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedVSversion" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowPathForSolutions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlyDefaultInstances" serializeAs="String">
                <value>False</value>
            </setting>
        </VSLauncher.Properties.Settings>
    </userSettings>
</configuration>